#about {
    width: 100%;height: auto;
    padding-bottom: 30px;
    position: relative;
}

.section2 {
  background: #353535;
  overflow: hidden;
}
.section2::before {
  content: attr(data-text);
}

#about .container .about {
    display: flex;
    width: 100%;
    height: 100%;
}


#about .container .about .my-skills {
    width: 50%;
    height: 100%;
    margin-top: 50px;
    /* background: rgb(206, 46, 46); */
}

.about .container .about .my-skills h2 {
    color: #fff;
    padding-bottom: 100px;
}

.about .container>h1{
  padding-top: 80px;
}

.about .container .about .my-skills .skills {
    width: 90%;
    /* margin: 0 auto;   */
    margin-top: 15px;
    background: #353535;
    padding: 20px;
    padding-left: 8px;
    display: block;
    box-shadow: var(--night-box-shadow);
    display: flex;
    border-radius: 10px;
}

.about .container .about .my-skills .skills .skills-name, .skills-value {
    font-size: 16px;
    height: 100%;
    width: 120px;
    color: #fff;
}

.about .container .about .my-skills .skills .skills-value  {
    padding-left: 0px;
    width: 25px;
    padding-left: 6px;
    color: #fff;
}

.about .container .about .my-skills .skills .skills-percent {
    width: 76%;
    height: 14px;
    background: #000;
    margin-top: 0px;
    margin-right: 0px;
    border-radius: 40px;
    position: relative;
}

#about .container .about .my-skills .skills .skills-percent .skills-progress {
    position: absolute;
    left: 0;top: 0;
    width: 80%;
    height: 100%;
    border-radius: 40px;
    /* background: #fff; */
    animation: progress 2s ease-in-out forwards;
}



@keyframes progress {
    from {width: 0}
}

#about .container .about .my-skills .skills:nth-child(2) .skills-percent .skills-progress {
    background: linear-gradient(45deg, #1fe6ff, #673Ab7);
}

#about .container .about .my-skills .skills:nth-child(3) .skills-percent .skills-progress {
    background: linear-gradient(45deg, #3bc0ff, #33ff00);
}

#about .container .about .my-skills .skills:nth-child(4) .skills-percent .skills-progress {
    background: linear-gradient(45deg, #ffee54, #ff00ca);
}

#about .container .about .my-skills .skills:nth-child(5) .skills-percent .skills-progress {
    background: linear-gradient(45deg, #22ffde, #2196f3);
}





#about .container .about #mySelf {
    width: 50%;
    margin-top: 50px;
    /* background: rgb(10, 48, 83); */
}
  
#about .container .about #mySelf .education-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* color: #fff; */
  }
  
.about .container .about #mySelf .education-name h2 {
    margin-right: 40px;
    cursor: pointer;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    z-index: 1;
  }
  
  .about .container .about #mySelf .education-name h2:nth-child(1) {
    color: #fb839e;
  }
  
  .about .container .about #mySelf .education-card {
    border-left: 2px solid #fb839e;
    margin-top: 30px;
    padding: 30px 0 30px 30px;
    padding-bottom: 0;
    margin-bottom: 30px;
  }
    
  .about .container .about #mySelf .education-card .education-box {
    box-shadow: var(--night-box-shadow);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .about .container .about #mySelf .education-card .education-box h3 {
    color: #fb839e;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
  }
  
  .about .container .about #mySelf .education-card .education-box h3::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 5px;
    left: -46px;
    background-color: #fb839e;
    border-radius: 50%;
  }
  
  .about .container .about #mySelf .education-card .education-box h2 {
    text-align: left;
    font-weight: 300;
    padding: 10px 0;
    color: #fff;
  }
  
.about .container .about #mySelf .education-card .education-box p {
    padding-bottom: 40px;
    color: #fff;
  }
  
  #about .container .about #mySelf .Experience-card {
    display: none;
  }
  



  



  .section2.sun {
    background: #f7f7f7;
  }


  .about.sun h1 {
    color: #2b2c2f;
  }
  .about.sun .container .about .my-skills h2 {
    color: #2b2c2f;
  }

  .about.sun .container .about .my-skills .skills {
    background: #f7f7f7;
    box-shadow: var(--box-shadow);
  }
  .about.sun .container .about .my-skills .skills .skills-name, .skills-value {
    color: #2b2c2f ;
  }
  .about.sun .container .about .my-skills .skills .skills-percent {
    background: #f7f7f7;
    box-shadow: var(--box-shadow-hover);
  }
  .about.sun  .container .about .my-skills .skills .skills-value {
    color: #2b2c2f;
  }
  .about.sun .container .about #mySelf .education-name h2:nth-child(1) {
    color: #000;
  }
  .about.sun .container .about #mySelf .education-card .education-box {
    box-shadow: var(--box-shadow);
  }
  .about.sun .container .about #mySelf .education-card .education-box h2 {
    color: #2b2c2f;
  }
  .about.sun .container .about #mySelf .education-card .education-box p {
    color: #2b2c2f;
  }
  

  @media screen and (max-width: 576px) {
    #about .container {
      max-width: 96%;
      margin: 0 auto;
    }
    #about .container h1 {
      padding-left: 75px;
      font-size: 22px;
    }
    #about .container .about  {
      flex-direction: column;
    }
    #about .container .about .my-skills {
      width: 100%;
      padding-left: 75px;
    }
    .about .container .about .my-skills h2 {
      padding-bottom: 20px;
      font-size: 16px;
    }
    .about .container .about .my-skills .skills {
      width: 100%;
      padding: 10px;
    }
    .about .container .about .my-skills .skills .skills-name {
      font-size: 10px;
    }
    .about .container .about .my-skills .skills .skills-value {
      font-size: 14px;
    }
    .about .container .about .my-skills .skills .skills-percent {
      height: 10px;
    }











    #about .container .about #mySelf {
      width: 100%;
      margin-right: 10%;
      padding-left: 75px;
    }
    #about .container .about #mySelf .education-name h2 {
      font-size: 14px;
    }
    #about .container .about #mySelf .education-card .education-box h2 {
      font-size: 14px;
    }
    #about .container .about #mySelf .education-card .education-box p {
      font-size: 12px;
    }
    #about .container .about #mySelf button a {
      font-size: 12px;
    }
  }


  @media screen and (min-width: 577px) and (max-width: 768px) {
    #about .container {
      max-width: 90%;
      margin: 0 auto;
    }
    #about .container h1 {
      padding-left: 75px;
      font-size: 30px;
    }
    #about .container .about  {
      flex-direction: column;
    }
    #about .container .about .my-skills {
      width: 100%;
      padding-left: 75px;
    }
    .about .container .about .my-skills h2 {
      padding-bottom: 20px;
      font-size: 20px;
    }
    .about .container .about .my-skills .skills {
      width: 100%;
      padding: 16px;
    }
    .about .container .about .my-skills .skills .skills-name {
      font-size: 16px;
    }
    .about .container .about .my-skills .skills .skills-value {
      font-size: 16px;
    }
    .about .container .about .my-skills .skills .skills-percent {
      height: 14px;
    }











    #about .container .about #mySelf {
      width: 100%;
      margin-right: 10%;
      padding-left: 75px;
    }
    #about .container .about #mySelf .education-name h2 {
      font-size: 20px;
    }
    #about .container .about #mySelf .education-card .education-box h2 {
      font-size: 16px;
    }
    #about .container .about #mySelf .education-card .education-box p {
      font-size: 14px;
    }
    #about .container .about #mySelf button a {
      font-size: 16px;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 920px) {
    #about .container .about  {
      flex-direction: column;
    }
    #about .container .about  .my-skills {
      width: 100%;
      padding: 0;
    }
    #about .container .about  .my-skills .skills {
      width: 100%;
    }
    #about .container .about  #mySelf {
      width: 100%;
    }
  }